<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-header">
    <div class="header-title">
        <div class="title">movie app</div>
        <div class="container-item">
            <div class="item">
                <a routerLink="/">Trending</a>
            </div>
            <div class="item">
                <a routerLink="/movie">Movie</a>
            </div>

            <div class="item">
                <a routerLink="/tv">Tv</a>
            </div>
            <div class="item">
                <a routerLink="/filter">Filter</a>
            </div>
            
        </div>

       <!--  <div class="logo">
            <img class="image" src="./tmovie.png" alt="image">
        </div> -->
    </div>
    <div class="container-user">
        <div class="user-item">
            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>
        <div class="user-item">
            <span class="icon" >
                <a routerLink="log-in" style="color:#fff"><i class="fa fa-sign-in" aria-hidden="true"></i></a>

            </span>
        </div>
        <div class="user-item">
            <span class="icon">
                <i class="fa fa-moon-o" aria-hidden="true"></i>

            </span>
        </div>
    </div>
</div>